---
layout: default
---
<div class="panel">
	<div class="panel-heading">
		<h2 class="post-title"><a href="{{ site.url page.url }}">{{ page.title }}</a></h2>
		<div class="byline">by James Atwood on {{ page.date | date: "%A, %B %d, %Y" }}</div>
	</div>
	<div class="panel-body">
		<div class="post-content">
			{{content}}
		</div>
	</div>
	<div class="panel-footer">		
		<div class="footer">
			<a href="{{ page.previous.url }}">prev</a>
			&middot;
			<a href="{{ site.url page.url }}">permalink</a>
			&middot;
			<a href="http://www.reddit.com/{{site.blogurl}}{{page.url}}">reddit</a>
			&middot;
			<a href="{{ page.next.url }}">next</a>
		</div>
	</div>
	{% if page.ads %}
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- link horizontal med -->
	<ins class="adsbygoogle"
			 style="align:center;display:inline-block;width:468px;height:15px"
			 data-ad-client="ca-pub-3836133771897058"
			 data-ad-slot="5316614726"></ins>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
	{% endif %}
</div>
		
